@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background: #b9b3a9;
  display: flex;
  justify-content: center;
}

.container {
  width: 450px;
  padding: 20px;
  margin-top: 80px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

h1 {
  text-align: center;
}

#startbutton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #428bca;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    transition: background-color 0.3s;
    margin-right: 10px;
  }
  
  #startbutton:hover {
    background-color: #3071a9;
  }

  #addbutton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #428bca;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    transition: background-color 0.3s;
    margin-right: 10px;
  }
  
  #addbutton:hover {
    background-color: #3071a9;
  }
  #image {
    width: 450px;
    height:450px;
   
  }
  
  #welcome {
    font-weight: bold;
    margin-bottom: 10px;
  }

  .question {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .options {
    margin-bottom: 20px;
    display: block;
  }
  
  #instruction {
    font-weight: bold;
    margin-bottom: 10px;
  }

  .querybutton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #428bca;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    transition: background-color 0.3s;
    margin-right: 10px;
  }
  
  .querybutton:hover {
    background-color: #3071a9;
  }

  #restartbutton1 {
    display: inline-block;
    padding: 10px 20px;
    background-color: #428bca;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    transition: background-color 0.3s;
    margin-right: 10px;
  }
  
  #restartbutton1:hover {
    background-color: #3071a9;
  }
  #restartbutton2 {
    display: inline-block;
    padding: 10px 20px;
    background-color: #428bca;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    transition: background-color 0.3s;
    margin-right: 10px;
  }
  
  #restartbutton2:hover {
    background-color: #3071a9;
  }
  .divider {
    border-top: 3px solid #988d8d;
    border-radius: 2px;
  }

  .sources {
    margin-bottom: 12px;
    display: block;
  }

  #answersbutton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #428bca;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    transition: background-color 0.3s;
    margin-right: 10px;
  }
  
  #answersbutton:hover {
    background-color: #3071a9;
  }

  #results {
    font-weight: bold;
    margin-bottom: 10px;
    color: #968566;
  }

  #logOutButton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #428bca;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    transition: background-color 0.3s;
    margin-right: 10px;
  }
  
  #logOutButton:hover {
    background-color: #3071a9;
  }